<div class="main-content">
  <div clas="row">
    <div class="section-body">
      <div class="row col-md-8 offset-md-4">
        <form class="form-inline">
          <div class="search-element">
            <div id="searchbar">
              <%= javascript_pack_tag 'searchbar' %>
            </div>
          </div>
        </form>
      </div>
    </div>
      <div class="row pt-5 mt-5">
        <% if @insurance_programs.blank? %>
          <div class="container">
          <div class="page-error">
            <div class="page-inner">
              <h1><i class="far fa-sad-cry not-found"></i></h1>
              <div class="page-description">
                Sorry, there is no insurance program in this category
              </div>
            </div>
          </div>
        </div>
        <% end %>
        <% @insurance_programs.each do | insurance_program | %>
          <%= link_to(insurance_program_path(insurance_program)) do %>
            <div class="col-12 col-md-4 col-lg-4">
              <article class="article article-style-c">
                <div class="article-header">
                  <div class="article-image home-images" data-background="<%= insurance_program.image_url %>" style="background-image: url(&quot;<%= insurance_program.image_url %>&quot;);">
                  </div>
                </div>
                <div class="article-details">
                  <div class="article-category"><a><%= time_ago_in_words(insurance_program.created_at) %></a></div>
                  <div class="article-title">
                    <h2><a href="#"><%= insurance_program.name %></a></h2>
                  </div>
                  <p><%= truncate(insurance_program.description, length: 80) %></p>
                </div>
              </article>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>